<!DOCTYPE html>
<html ng-app='pomodoroApp'>
    <head>
        <meta charset="utf-8">
        <title>pomodoroApp</title>
        <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
        <link href="/styles/main.css" rel="stylesheet">
    </head>
    <body ng-controller="PomodoroCtrl as pomo" layout="column">
        <md-toolbar>
            <h1>Pomodoro App</h1>
        </md-toolbar>

        <div class="container" layout="row" flex>
            <md-sidenav md-is-locked-open="true">
                <md-input-container>
                    <label>Task</label>
                    <input ng-model="pomo.newTask.text" />
                    <md-button type="submit" class="md-raised md-primary" ng-click="pomo.addTask()">Submit</md-button>
                </md-input-container>

                <md-list ng-repeat="task in pomo.tasks | orderBy: '-created_at' ">
                    <md-list-item><p ng-bind="task.text"></p><md-button type="submit" class="md-raised md-warn" ng-click="pomo.tasks.$remove(task)">Delete</md-button></md-list-item>
                </md-list>
            </md-sidenav>

            <md-content id="content" flex>
                <div layout="row" layout-align="center">
                    <h1 ng-bind="pomo.pomodoro.currentTime | timecode" id="pomoClock"></h1>
                    <md-button type="button" class="btn-{{pomo.pomodoro.buttonStyle}}" ng-click="pomo.pomodoro.toggleTimer()" ng-bind="pomo.pomodoro.timerText"></md-button>
                </div>
                <div layout="row" layout-align="center">
                    <md-progress-circular md-mode="determinate" md-diameter="300" value="{{(pomo.pomodoro.currentTime / 60) * pomo.pomodoro.progressNum}}"></md-progress-circular>
                </div>

            </md-content>
        </div>
    </body>

    <!-- Vendor -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.0/buzz.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <!-- App -->
    <script src="/scripts/app.js"></script>
    <!-- Filters -->
    <script src="/scripts/filters/timecode.js"></script>
    <!-- Controllers -->
    <script src="/scripts/controllers/PomodoroCtrl.js"></script>
    <!-- Services -->
    <script src="/scripts/services/pomodoro.js"></script>
    <script src="/scripts/services/tasks.js"></script>
    <!-- Constants  -->
    <script src="/scripts/constants/TIMER_FOR.js"></script>
</html>
